Exercises/obj/Exercises.csproj.nuget.dgspec.json
Exercises/obj/Exercises.csproj.nuget.g.props
Exercises/obj/Exercises.csproj.nuget.g.targets
Exercises/obj/project.assets.json
Exercises/obj/project.nuget.cache
Exercises/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Exercises/obj/Debug/net5.0/Exercises.assets.cache
Exercises/obj/Debug/net5.0/Exercises.csproj.FileListAbsolute.txt
ExercisesUnitTests/obj/ExercisesUnitTests.csproj.nuget.dgspec.json
ExercisesUnitTests/obj/ExercisesUnitTests.csproj.nuget.g.props
ExercisesUnitTests/obj/ExercisesUnitTests.csproj.nuget.g.targets
ExercisesUnitTests/obj/project.assets.json
ExercisesUnitTests/obj/project.nuget.cache
ExercisesUnitTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.assets.cache
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.csproj.FileListAbsolute.txt
ExercisesUnitTests/bin/Debug/net5.0/ExercisesUnitTests.deps.json
ExercisesUnitTests/bin/Debug/net5.0/ExercisesUnitTests.dll
ExercisesUnitTests/bin/Debug/net5.0/ExercisesUnitTests.pdb
ExercisesUnitTests/bin/Debug/net5.0/ExercisesUnitTests.runtimeconfig.dev.json
ExercisesUnitTests/bin/Debug/net5.0/ExercisesUnitTests.runtimeconfig.json
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.AdapterUtilities.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
ExercisesUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
ExercisesUnitTests/bin/Debug/net5.0/Newtonsoft.Json.dll
ExercisesUnitTests/bin/Debug/net5.0/NuGet.Frameworks.dll
ExercisesUnitTests/bin/Debug/net5.0/testhost.dll
ExercisesUnitTests/bin/Debug/net5.0/testhost.exe
ExercisesUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ref/ExercisesUnitTests.dll
ExercisesUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ExercisesUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.AssemblyInfo.cs
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.AssemblyInfoInputs.cache
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.csproj.AssemblyReference.cache
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.csproj.CopyComplete
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.csproj.CoreCompileInputs.cache
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.dll
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.GeneratedMSBuildEditorConfig.editorconfig
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.genruntimeconfig.cache
ExercisesUnitTests/obj/Debug/net5.0/ExercisesUnitTests.pdb
ExercisesUnitTests/obj/Debug/net5.0/ref/ExercisesUnitTests.dll
Exercises/obj/Debug/net5.0/Exercises.AssemblyInfo.cs
Exercises/obj/Debug/net5.0/Exercises.AssemblyInfoInputs.cache
Exercises/obj/Debug/net5.0/Exercises.csproj.AssemblyReference.cache
Exercises/obj/Debug/net5.0/Exercises.GeneratedMSBuildEditorConfig.editorconfig
